# ============================================
# LEGENDARY COMMUNITY — ENVIRONMENT VARIABLES
# ============================================
# Copy this file to .env.local and fill values

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="Legendary Community"
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres.beecfnqtoaffczpscghy:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"

# JWT & Session
JWT_SECRET=your_super_secret_jwt_key_min_32_chars_here
SESSION_SECRET=your_session_secret_key_here
COOKIE_SECRET=your_cookie_secret_key_here

# Discord OAuth2
DISCORD_CLIENT_ID=1504326640329555978
DISCORD_CLIENT_SECRET=Hhb2NIedLIDJUGPMx-BQb0fM6PAi2EwJ
DISCORD_REDIRECT_URI=http://localhost:3000/api/auth/discord/callback
NEXT_PUBLIC_DISCORD_CLIENT_ID=your_discord_client_id

# Discord Bot
DISCORD_BOT_TOKEN=MTUwNDMyODIzODU2MDcwNjU4MQ.G0fvOn.Rp5xwfSKo763ejgPpYSxu7Cc92WN0XDpVsKsBw
DISCORD_GUILD_ID=1494533241242386432
DISCORD_ADMIN_CHANNEL_ID=1499263548034126035
DISCORD_LOG_CHANNEL_ID=1504332660879790200
DISCORD_TICKET_CHANNEL_ID=1498331815302271067
DISCORD_INVITE_URL=https://discord.gg/your_invite

# Discord Role IDs
DISCORD_ROLE_VERIFIED_L1=1495354363865075822
DISCORD_ROLE_VERIFIED_L2=1498183569992974336
DISCORD_ROLE_VERIFIED_L3=1498183680277872641

# Stripe
STRIPE_SECRET_KEY=sk_test_51TOsN1LMAkYhaPlUmJHxO8rxOqgQlpZmZD6S5MIx4Dn7mOAyfEpAwfwarRpXi63R3J6mO2Hw5ecPOUAZ4mUMxnFH00qRPTnqqQ
STRIPE_PUBLISHABLE_KEY=pk_test_51TOsN1LMAkYhaPlUazqRRGLqhuv41PrpXITre12JvwQ1B91ftPCBihyTgsIMI74weDHi35nu9dkoc64LBHMyvEz100DcFDfV6O
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
STRIPE_WEBHOOK_SECRET=whsec_nwpJxrwhkpYcPD2PK6jqJP6HtEA8Ktrz
STRIPE_CURRENCY=thb

# Cloudinary
CLOUDINARY_CLOUD_NAME=seventy7s
CLOUDINARY_API_KEY=727356197991511
CLOUDINARY_API_SECRET=3pxd0UzPB7qZXKKUgGrR68ke7Kw
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=seventy7s

# Firebase (Phone OTP)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCx-wPSxLH1opdqUgrhlKETlwziTAO6RbU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=seventy7s-website.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=seventy7s-website
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=seventy7s-website.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1025933881989
NEXT_PUBLIC_FIREBASE_APP_ID=1:1025933881989:web:eb48a4fc8bfc227a5aefec

# Socket.io
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

# Admin
ADMIN_DISCORD_IDS=1184729518246723644

# Email (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@email.com
SMTP_PASS=your_email_password
